@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --cor0:#bbd4fd;
    --cor1:#82AFFF;
    --cor2:#4169E1;
    --cor3:#002366;
    --cor4:#000032;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: linear-gradient(var(--cor0), var(--cor3));
    font-family: var(--fonte-padrao);
}

header {
    background-image: linear-gradient( var(--cor0 ), var(--cor3));
    color: var(--cor0);
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.331);
}

header > h1 {
    font-family: var(--fonte-destaque);
    font-size: 3em;
    color: var(--cor4);

}

header > p {
    font-size: 1.3em;
    color: var(--cor4);
    padding: 10px;
    font-weight: bold;
}

nav {
    background-color: var(--cor4);
    border-radius: 10px 10px 10px 10px;
    width: 250px;
    height: 50px;
    box-shadow: 1px 1px 1px black;

}

nav > a{
    color: var(--cor0);
    text-decoration: none;
    display: block;
    padding: 4px;
    text-align: center;
}

nav > a:hover {
    background-color: var(--cor2);
    color: var(--cor4);
    border-radius: 10px;
    font-size: 1.2em;
}

main {
    min-width: 200px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: var(--cor2);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    border-radius: 0px 0px 10px 10px;
}

main > h1{
    background-color: white;
    font-family: var(--fonte-padrao);
    margin: 10px;
    border-radius: 10px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.607);
    text-align: center;
}

main > p {
    background-color: white;
    padding: 10px;
    font-size: 1.3em;
    border-radius: 10px;
    margin: 10px;
    text-align: justify;
}

section {
    font-size: 1.1em;
    background-color: white;
    border: 1px solid var(--cor2);
    border-radius: 15px;
    margin: auto;
    margin-bottom: 20px;

}

section > h2 {
    text-align: center;
    color: var(--cor3);
}

section > p {
    text-align: center;
    padding: 6px;
}

table {
    border: 3px solid black;
    border-collapse: collapse;
    margin: auto;
    margin-bottom: 10px;
    max-width: 500px;
    min-width: 250px;
}

th, td {
    border: 3px solid black;
    padding: 5px;
    text-align: center;
}

ul {
    list-style-position: inside;
}

li {
    padding: 6px;
}

code {
    background-color: rgb(225, 225, 225);
}

section img {
    max-width: 400px;
    width: 100%;
    border: 3px solid black;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 10px;
    display: block;
    max-height: 300px;
}


footer {
    background-color: var(--cor2);
    text-align: center;
}